*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #575757, #000000, #000000, #000000);
}

/*INICIO CONTATO*/
section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1px 45px;
  background-image: linear-gradient(to right, #323233, #323233, #323233, #323233);
  width: 700px;
  height: 600px;
  box-shadow: rgba(149, 255, 0, 0.4) 5px 5px, rgb(9, 255, 0) 10px 10px, rgb(0, 166, 255) 15px 15px, rgb(255, 10, 10) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  border-radius: 100px;
}
section h2{
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding: 10px;
  margin: 40px;
  margin-top: 0px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #ffffff;
  height: 40px;
  height: 50px;
  border-radius: 100px;
  font-family: italic;
}
section form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

form label{
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-bottom: 1px;
}
form input{
  padding: 10px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
  border-radius: 15px;
  border: 2px solid black;
}
form input:focus{
  border-radius: 30px;
  translate: 1%;
  opacity: 80%;
}
form textarea{
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
  border: 2px solid rgb(138, 132, 132);
  border-radius: 15px;
  height: 100px;
  max-width: 430px;
  max-height: 100px;

}
form textarea:focus{
  border-radius: 30px;
  translate: 1%;
  opacity: 80%;
}
form button{
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  border: 3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all 1.5s;
  margin-top: -10px;
  border-radius: 15px;
  width: 100px;
  margin-left: 250px;
}
form  button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 30px;
}
#voltar{
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  border: 3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all 1.5s;
  margin-top: -50px;
  margin-left: 80px;
  border-radius: 15px;
  width: 110px;
}
#voltar:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 30px;
}
/*FIM CONTATO*/

/*INICIO PAGINA OBRIGADO*/
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #101026;
  flex-direction: column;
}
.text{
  font-size: 60px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.paragrafo{
  color: #f5f5f5;
  margin-bottom: 50px;
  font-size: 40px;
}
.botao{
  padding: 15px 55px;
  background: #f5f5f5;
  text-decoration: none;
  color: #101026;
  font-size: 30px;
  transition: all 1s;
  border-radius: 20px;
}
.botao:hover{
  border-radius:  35px;
  color: white;
  background-color: black;
  border: 2px solid white;
}
/*FIM PAGINA OBRIGADO*/
